/*footer*/

footer {
    background-color:  #040b12 ;
    padding: 1em 0;
    text-align: center;
    position: absolute;
    bottom: 0 ;
    width: 100%;
}

.piedepagina {color: white;  
    text-align: center;
    background-position: bottom center;
    display: flex; 
    justify-content: center;
    align-items: center;
}

